### Database Table Tests

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# Creates connection to MySQL database
engine = create_engine('mysql+pymysql://root:1A2s3D4f5G6h7J8k9L0z1Z2x3C4v5B6n7M@localhost/tek_tractor')

In [2]:
def test_function(df):
    '''
    Function to test a database to make sure it is the correct shape with no null values
    '''
    
    # number of rows 
    df_rows = df.shape[0]
    df_rows = str(df_rows)
    
    # number of columns
    df_cols = df.shape[1]
    df_cols = str(df_cols)
    
    # sum of null values 
    df_nulls = df.isnull().sum()[0].sum()
    df_nulls = str(df_nulls)
    
    s = 'There are ' + df_rows + ' rows and ' + df_cols + ' columns with a total of ' + df_nulls + ' null values in this table!' 
    return ('\033[1m' + s + '\033[0m')

#### DateTable Tests

In [3]:
df_date = pd.read_sql_query('SELECT * FROM datetable', con = engine)
print(test_function(df_date))
df_date.info()

There are 156 rows and 5 columns with a total of 0 null values in this table!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     156 non-null    object
 1   year     156 non-null    int64
 2   quarter  156 non-null    object
 3   period   156 non-null    int64
 4   week     156 non-null    int64
dtypes: int64(3), object(2)
memory usage: 6.2+ KB

#### Employee Table Tests

In [4]:
df_emp = pd.read_sql_query('SELECT * FROM employee', con = engine)
print(test_function(df_emp))
df_emp.info()

There are 5 rows and 4 columns with a total of 0 null values in this table!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   employee_id    5 non-null      object
 1   employee_name  5 non-null      object
 2   region         5 non-null      object
 3   pay_grade      5 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes

#### Extended Service Plan Price Table Tests

In [5]:
df_esp_price = pd.read_sql_query('SELECT * FROM esp_price', con = engine)
print(test_function(df_esp_price))
df_esp_price.info()

There are 16 rows and 3 columns with a total of 0 null values in this table!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   esp_code  16 non-null     object
 1   price     16 non-null     int64
 2   year      16 non-null     int64
dtypes: int64(2), object(1)
memory usage: 512.0+ bytes

#### Product Price Table Tests

In [6]:
df_prod_price = pd.read_sql_query('SELECT * FROM prod_price', con = engine)
print(test_function(df_prod_price))
df_prod_price.info()

There are 64 rows and 4 columns with a total of 0 null values in this table!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prod_code  64 non-null     object
 1   price      64 non-null     int64
 2   year       64 non-null     int64
 3   quarter    64 non-null     object
dtypes: int64(2), object(2)
memory usage: 2.1+ KB

#### Product Information Table Tests

In [7]:
df_prod_info = pd.read_sql_query('SELECT * FROM prod_info', con = engine)
print(test_function(df_prod_info))
df_prod_info.info()

There are 8 rows and 3 columns with a total of 0 null values in this table!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   prod_code          8 non-null      object
 1   prod_name          8 non-null      object
 2   prod_manufacturer  8 non-null      object
dtypes: object(3)
memory usage: 320.0+ bytes

#### Product Sales Table Tests

In [8]:
df_prod_sales = pd.read_sql_query('SELECT * FROM prod_sales', con = engine, index_col = 'prod_sale_id')
print(test_function(df_prod_sales))
df_prod_sales.info()

There are 4160 rows and 6 columns with a total of 0 null values in this table!
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4160 entries, 1 to 4160
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   emp_id     4160 non-null   object
 1   prod_code  4160 non-null   object
 2   quantity   4160 non-null   object
 3   year       4160 non-null   int64
 4   quarter    4160 non-null   object
 5   date       4160 non-null   object
dtypes: int64(1), object(5)
memory usage: 227.5+ KB

#### Extended Service Plan Sales Table Tests

In [9]:
df_esp_sales = pd.read_sql_query('SELECT * FROM esp_sales', con = engine, index_col = 'esp_sale_id')
print(test_function(df_esp_sales))
df_esp_sales.info()

There are 4160 rows and 5 columns with a total of 0 null values in this table!
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4160 entries, 1 to 4160
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   esp_code  4160 non-null   object
 1   emp_id    4160 non-null   object
 2   quantity  4160 non-null   object
 3   year      4160 non-null   int64
 4   date      4160 non-null   object
dtypes: int64(1), object(4)
memory usage: 195.0+ KB

### Aggregate View

In [10]:
# Setting year to an object to enable merging 
df_prod_sales['year'] = df_prod_sales['year'].astype(str)
df_prod_price['year'] = df_prod_price['year'].astype(str)

In [11]:
# Merging Extended Service Plan Sales and Price tables 
esp_merge1 = pd.merge(df_esp_sales, df_esp_price, how = 'inner', on = ['year', 'esp_code'])

# Merging Product Sales and Price
prod_merge1 = pd.merge(df_prod_sales, df_prod_price, how = 'inner', on = ['prod_code', 'year', 'quarter'])

# Merging the above merge and Product Info 
prod_merge2 = pd.merge(prod_merge1, df_prod_info, how = 'inner', on = ['prod_code'])

# Merging Extended Service Plan first merge and Employee table 
df_emp.rename(columns={'employee_id':'emp_id'}, inplace = True)
esp_merge2 = pd.merge(esp_merge1, df_emp, how = 'inner', on = ['emp_id'])

# Merging date table and Extended Service Plan aggregate
date_esp = pd.merge(left = df_date, right = esp_merge2, how = 'right', on = ['date'])

# Merging Product aggregate and Date table 
date_prod = pd.merge(left = df_date, right = prod_merge2, how = 'right', on = ['date'])

# Creating a new column to use code data as a merge condition
date_prod['id_num'] = date_prod['prod_code'].str[-1:]
date_esp['id_num'] = date_esp['esp_code'].str[-1:]

# Merging to create the total aggregate table 
total = pd.merge(date_prod, date_esp, how = 'inner', on = ['emp_id', 'date', 'id_num'])
total

total.drop(['year_y_y', 'week_y', 'period_y', 'year_x_y', 'quarter_y', 'year_y_x'], axis = 1, inplace = True)

# Renaming duplicate columns
total.rename(columns = {'year_x_x': 'year',
                        'quarter_x': 'quarter',
                        'period_x': 'period',
                        'week_x': 'week',
                        'quantity_x': 'prod_quantity',
                        'price_x': 'prod_price',
                        'quantity_y': 'esp_quantity',
                        'price_y': 'esp_price'}, inplace = True)

In [12]:
total

,date,year,quarter,period,week,emp_id,prod_code,prod_quantity,prod_price,prod_name,prod_manufacturer,id_num,quarter,esp_code,esp_quantity,esp_price,employee_name,region,pay_grade
0,1/3/2021,2021.0,Q1,1.0,2.0,EMP244,PROD_001,23,14550,Gator XUV 590M,John Deere,1,Q1,ESP_001,7,989,"Evans, Gina",NW,C12
1,1/10/2021,2021.0,Q1,1.0,3.0,EMP244,PROD_001,27,14550,Gator XUV 590M,John Deere,1,Q1,ESP_001,10,989,"Evans, Gina",NW,C12
2,1/17/2021,2021.0,Q1,1.0,4.0,EMP244,PROD_001,37,14550,Gator XUV 590M,John Deere,1,Q1,ESP_001,9,989,"Evans, Gina",NW,C12
3,1/24/2021,2021.0,Q1,2.0,5.0,EMP244,PROD_001,47,14550,Gator XUV 590M,John Deere,1,Q1,ESP_001,12,989,"Evans, Gina",NW,C12
4,1/31/2021,2021.0,Q1,2.0,6.0,EMP244,PROD_001,42,14550,Gator XUV 590M,John Deere,1,Q1,ESP_001,10,989,"Evans, Gina",NW,C12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4155,11/22/2020,2020.0,Q4,12.0,48.0,EMP290,PROD_008,5,11589,Z930M Ztrack,John Deere,8,Q4,ESP_008,0,843,"Allen, Maude",SW,C12
4156,11/29/2020,2020.0,Q4,13.0,49.0,EMP290,PROD_008,7,11589,Z930M Ztrack,John Deere,8,Q4,ESP_008,0,843,"Allen, Maude",SW,C12
4157,12/6/2020,2020.0,Q4,13.0,50.0,EMP290,PROD_008,5,11589,Z930M Ztrack,John Deere,8,Q4,ESP_008,0,843,"Allen, Maude",SW,C12
4158,12/13/2020,2020.0,Q4,13.0,51.0,EMP290,PROD_008,5,11589,Z930M Ztrack,John Deere,8,Q4,ESP_008,0,843,"Allen, Maude",SW,C12
4159,12/20/2020,2020.0,Q4,13.0,52.0,EMP290,PROD_008,3,11589,Z930M Ztrack,John Deere,8,Q4,ESP_008,0,843,"Allen, Maude",SW,C12

#### Sending Merged Data to Database

In [13]:
# Sends Merged data to Database 
total = total.dropna()
total.to_sql('merged_data', con = engine, if_exists = 'replace', index = False)

4120